.navcol{
	padding:15px;
	background-color:#001a4d;
	color:white;
	font-weight:bold;
}
.navbar-inverse .navbar-nav >li >a {
	color:white;
	font-weight: bold;
}
.b1{border:1px solid white;
padding-left:15px;
	color:#32167C;
font-family:LufthansaHead, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
background-color:#F3F3F3;
text-align:5px;}
.a2{color:#32167C;
padding-bottom:75px;}
.a3{color:#32167C;
font-family:LufthansaHead, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 3.2rem;
border:2px solid white;
padding-bottom:10px;}

.flincnt2{
	padding:10px;
}
.flin{
	border:hidden
	border-right:solid;
	border-bottom:solid
	border-color:gray;
	border-width:2px;
}
.form-control {
    border: none;
    border-bottom: 2px solid #001F5B; 
    border-radius: 0;
    box-shadow: none;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #001F5B; /* Adjust color as needed */
    box-shadow: none;
    outline: none;
}
.a6{color:#32167C;
	font-family:LufthansaHead, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:2.4rem;
}
.a7{color:#32167C;
font-family:LufthansaHead, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:1.8rem;
	line-height:2.4rem;
}
.responsive {
  width: 75%;
  height: auto;
}
.hmfoot{
	margin-top:40px;
}
.fotcolor{
	background-color:#05164D;
}
.fot1row{
	padding-top:50px;
}
.fotform{
	border:hidden;
}
.fot4head{
	padding-top:30px;
}
.fothead{
	font-family: Arvo, serif; 
	color:white;
	border-bottom:solid;
	border-color:white;
}
.fotbtn{
	background-color:#05164D;
	border:hidden;
	font-family: Arvo, serif; 
	color:white;
}
.fotbtn:hover{
	background-color:#05164D;
	border:hidden;
	color:white;
}